page-login {
  .item-block .item-inner {

    border:0.55px solid #2B888F !important;
    padding: 15px;
    border-radius: 10px;
  }
  .button-block {
    height: 60px !important;
    display: block;
    clear: both;
    border-color: #ffffff;
    width: 100%;
    contain: strict;
    margin-top: 25px;
    border-radius: 11px;
    color: #2b888f;
  }
}
