page-cadastre-sua-empresa {
.item-block .item-inner {
    border: 0.55px solid #2B888F !important;
    padding: 15px;
    border-radius: 10px;
  }

  .item-block {
    height: 56px;
    padding: 0px;
    margin-top:18px;
  }
}
